.scoreboard_table {
    width: 100%;
    margin-top: 35px;
    padding: 0 100px 30px;
    color: #fff;
}
.scoreboard_table thead {
    height: 50px;
}
.scoreboard_table tbody {
    border-radius: 20px;
    /* border: 2px solid #ff0090; */
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #ff0090,
              /* 0 0 0.8rem #bc13fe, */
              /* 0 0 2.8rem #bc13fe, */
              inset 0 0 0rem #bc13fe;
}
.scoreboard_table .RankCard td {
    padding: 10px;
}
.scoreboard_table .RankCard:not(:last-child) td {
    border-bottom: 2px solid #494949;
}
.scoreboard_table td:not(.auth) {
    font-weight: 700;
    text-align: center;
}
.scoreboard_table .auth {
    text-align: center;
    padding-right: 30px;
    width: 45%;
}