.button {
    display: block;
    border-radius: 6px;
  }
  
  .modal-background {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
  }
  
  .modal-card {
    margin: 0 auto;
    display: block;
    margin-top: 250px;
    width: 500px;
    height: 500px;
    background-color: lightgray;
    border-radius: 5px;
  }